@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

.about-heading{
  font-size: 3rem;
  font-style: italic;
  letter-spacing: 4px;
  text-shadow: 1px 1.4px 3px #ff8533;
}

.about-container{
  font-family: Orbitron;
  font-style: italic;
  margin-top: 3%;
}

.about-content{
  margin-top: 3%;
  padding: 30px;
}

.about-img{
  /* margin-left: 50px   */
}

.about-text{
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2.3px;
}



p:hover{
  transition: all 1s ease-in-out;
  transform: scale(1.05)
}

@media screen and (max-width:1024px){
  .about-content{
    margin-top: 20%
  }

  .about-text{
    margin-top: 20%;
  }
}