@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

h2{
  letter-spacing: 4px;
  font-style: italic;
  text-shadow: 1px 1.4px 3px #ff8533;

}

.about{
  font-family: Orbitron;
  font-style: italic;
  margin-top: 2%;
}

.about-text{
  padding: 1.6rem;
  font-size: 1.3rem;
}

.about-img{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}