@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

.about-container{
  font-family: Orbitron;
  font-style: italic;
  height: 100vh;
}

.about-heading{
  font-size: 3rem;
  font-style: italic;
  letter-spacing: 4px;
  text-shadow: 1px 1.4px 3px #ff8533;
  margin-top: 5%;
}

.about-content{
  margin-top: 5%;
  padding: 30px;
  text-align: center;
}

.about-text{
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2.5px;
}

p:hover{
  transition: all 1s ease-in-out;
  transform: scale(1.05)
}

@media screen and (max-width:1024px){
  .about-container{
    height: auto;
  }

  .about-text{
    margin-top: 20%;
  }
}