.contact-container{
  font-style: italic; 
}

.contact-heading{
  flex-basis: 100%;
  font-size: 3rem;
  letter-spacing: 4px;
  text-shadow: 1px 1.4px 3px #ff8533;
  margin: 5% 0 5% 0;
}

.form-heading{
  letter-spacing: 3px;  
  margin-bottom: 5rem;
}

.field{
  position: relative;
  margin-top: 25px;
}

.contact-form{
  position: relative;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.contact-input{
  min-width: 100%;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid darkblue;
}

.contact-text-area, .contact-input::placeholder{
  font-style: italic;
  letter-spacing: 2px;
}

.contact-text-area{
  min-width: 90%;
}

.placeholder-label{
  position: absolute;  
  display: flex;
  justify-content: flex-start;
  text-indent: 5px;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.8s ease-in-out;
}

.placeholder-label-resize{
  top: -12px;
  font-size: 0.8rem;
}

@media screen and (max-width: 600px){
  .contact-input{
    width: 40%
  }
}