@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

.home-container{
  margin: 0 auto;
  font-family: Orbitron;
  text-align: center;
  min-height: 100vh;
  font-style: italic;
  background:linear-gradient(45deg, rgba(107, 9, 53, 0.7), rgba(3,4,5, 0.8), rgba(124, 82, 179,1));
}

.header{
  margin-top: 50px;
}

.container-blur{
  filter: blur(10px);
  transition: all 1.2s ease-in-out;
}

.introduction{
  font-size: 1.5rem;
  color: antiquewhite;
}

h1{
  letter-spacing: 4px;
  color: aliceblue;
  text-shadow: 1px 1.4px 3px #ff8533;
}

.down-arrow{
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.down-arrow:hover{
  animation: bounce 0.4s infinite alternate, rotate 0.8s linear;
}

@keyframes bounce{
  from{
    transform: translateY(0%);
    transform: rotateX(45deg);
  }
  to{
    transform: translateY(-30%);
  }
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
