@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

body{
  background: url('../assets/images/project.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Orbitron;
}

.home-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1{
  font-size: 2rem;
  letter-spacing: 2px;
  color: white;
  text-shadow: 4px 4px 4px #ff8533;
}