@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

.login-container{
  margin-top: 3%;
  color: aliceblue;
  font-family: Orbitron;
}

.login-form{
  flex-direction: column;
  display: inline-flex;
  min-width: 40%;
  border-radius: 10px;
  padding: 50px 30px 10px 30px;
  background: linear-gradient(90deg, rgba(254, 173, 166, 0.8), rgba(128, 208, 199, 0.2));
}

.MuiOutlinedInput-root{
  position: relative;
  margin: 12px;
  min-width: 40%;
}

.MuiOutlinedInput-root::before{
  border: 2px solid;
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  height: 0;
  width: 0;
  background: transparent;
  border-radius: 4px;
}

.MuiOutlinedInput-root:hover::before{
  animation: animate 1s linear forwards;
}
.MuiOutlinedInput-adornedStart{
  outline: none;
}

@keyframes animate{
  0%{
    width: 0;
    height: 0;
    border-top-color: #262626 ;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  50%{
    width: 100%;
    height: 0;
    border-top-color: #262626 ;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: #262626 ;
    border-right-color: #262626;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}


.text-field{
  cursor: pointer;
  text-indent: 2mm;
}

.login-button{
  align-self: center;
  width: 150px;
  min-height: 35px;
  cursor: pointer;
  font-size: 1.2rem;
  background: linear-gradient(90deg, rgba(58, 28, 113, 0.3), rgba(215, 109, 119, 0.7), rgba(255, 175, 123, 0.4));
  outline: none;
  border: 0px;
  border-radius: 4px;
  transition: 2s ease-in-out;
  position: relative;
  overflow: hidden;  
}

.login-button::before,
.login-button::after{
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: #ffffff;
  opacity: 0.2;
  transform: rotate(45deg);
  transition: all ease 1s;
}

.login-button::after{
  transition-delay: 0.2s;
}
.login-button:hover::after,
.login-button:hover::before{
  left: 100%;
}
