.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  font-style: italic !important;
  border: none;
}

.login-header{
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 4px;
  text-shadow: 1px 1.4px 3px #ff8533;
}

.login-icons{
  display: flex;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.login-icons img{
  transition: transform 0.4s ease-in-out;
}

.login-icons img:hover{
  transform: scale(1.2);
}

.social-login{
  margin-top: 20px;
}

.text-field{
  cursor: pointer;
  width: 80%;
}

/* TEXT INPUT FIELD */
.MuiInputBase-input{
  font-family: Orbitron !important;
  font-weight: bold;
  font-size: 1.3rem !important;
  z-index: 1;
}

.MuiFormLabel-root{
  color: #ffffff !important;
  top: 4px !important;
  font-family: Orbitron !important;
  font-size: 1.3em !important;
  font-weight: 700;
  text-indent: 2mm;
}

.MuiFormLabel-root.Mui-focused{
  text-indent: 1.2rem;
  font-weight: bolder !important;
  padding: 5px;
  transition: all 1s ease-in-out;
}

.MuiFilledInput-root{
  box-shadow: 3px 7px 7px rgb(36, 71, 36);
  position: relative;
  margin: 12px;
  border-radius: 4px;
  color: white !important;
  transition: all 0.7s ease-in-out;
  background: linear-gradient(90deg, rgba(58, 28, 113, 0.7), rgba(215, 109, 119, 0.7), rgba(255, 175, 123, 0.5)) !important;
}

.MuiFilledInput-root:focus-within{
  box-shadow: none;
}

.MuiFilledInput-root::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: transparent;
  border-radius: 4px;
  z-index: 1;
}

.MuiFilledInput-root:focus-within::before{
  border: 2px solid transparent;
  animation: animate-top 1s linear forwards;
}

@keyframes animate-top{
  0%{
    width: 0;
    height: 0;
    border-top-color: rgb(148, 237, 253);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  50%{
    width: 100%;
    height: 100%;
    border-top-color: rgb(148, 237, 253);
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: rgb(148, 237, 253); 
    border-right-color: rgb(148, 237, 253);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}

.MuiFilledInput-root::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  background: transparent;
  border-radius: 4px;
}

.MuiFilledInput-root:focus-within::after{
  border: 2px solid transparent;
  animation: animate-below 1s linear forwards;
  animation-delay: 0.7s;
  background: linear-gradient(45deg, rgba(77, 39, 248, 0.6), rgba(14, 13, 13, 0.7));
}

@keyframes animate-below{
  0%{
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: rgb(148, 237, 253);
  }
  50%{
    width: 0;
    height: 100%;
    border-top-color: transparent ;
    border-right-color: transparent;
    border-left-color: rgb(148, 237, 253);
    border-bottom-color: rgb(148, 237, 253);
  }
  100%{
    width: 100%;
    height: 100%;
    border-top-color: transparent ;
    border-right-color: transparent;
    border-left-color: rgb(148, 237, 253);
    border-bottom-color: rgb(148, 237, 253);
  }
}

@media screen and (max-width: 480px){
  .text-field{
    width: 100%;
  }
}
