@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

.login-container{
  background: rgba(240, 233, 217, 0.5);
}

.login-background{
  position: fixed;
  top: 0;
  left: 0;
}

.login-content{
  font-family: Orbitron;
  font-style: italic;
  align-items: center;
}

.login-img{
  display: flex;
  align-items: center;  
  justify-content: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-style: italic !important;
  border: none;
}

.login-header{
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 4px;
  text-shadow: 1px 1.4px 3px #ff8533;
  margin: 5% 0 5% 0;
}

.project-logo-login{
  position: absolute;
  margin: 10px;
  cursor: pointer;
  z-index: 1;
}

.login-submit{
  align-self: center;
  width: 150px;
  min-height: 35px;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  border: 0px;
  border-radius: 4px;
  transition: 2s ease-in-out;
  position: relative;
  overflow: hidden;  
  font-style: italic;
  background: linear-gradient(90deg, rgba(58, 28, 113, 0.3), rgba(215, 109, 119, 0.7), rgba(255, 175, 123, 0.4));
}

.login-submit:focus{
  outline: none;
}

.login-submit::before,
.login-submit::after{
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: #ffffff;
  opacity: 0.8;
  transform: rotate(45deg);
  transition: all ease 1s;
}

.login-submit::after{
  transition-delay: 0.2s;
}

.login-submit:hover::after,
.login-submit:hover::before{
  left: 100%;
}

.signup-text{
  margin-top: 50px;
  cursor: pointer;
}

.signup-form-flip{
  animation: flip 2s linear;
}

.fade-in{
  animation: fade-in 2s linear;
}

.text-field{
  cursor: pointer;
  width: 70%;
}


@keyframes fade-in{
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes flip{
  from{
    transform: translateX(100%) scaleX(-1);
  }
  to{
    transform: translateX(0) scaleX(1);
  }
}

@media screen and (max-width: 768px){
  .img-container{
    z-index: 1;
    margin-top: 150px;
  }
}

@media screen and (max-width: 480px){
  .login-background{
    height: 1000%;
    top: 10%;
    bottom: 0;
  }

  @keyframes fade-in{
    from{
      transform: translateY(-100%);
    }
    to{
      transform: translateY(0);
    }
  }
  
  @keyframes flip{
    from{
      transform: translateY(100%) scaleY(-1);
    }
    to{
      transform: translateY(0) scaleY(1);
    }
  }

  .text-field{
    width: 100%;
  }
  
  .signup-form-container{
    margin-top: 10%;
  }
}
