  .navbar-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, rgba(254, 173, 166, 0.8), rgba(128, 208, 199, 0.5)); 
  width: 100%;  
  box-shadow: 1px 1px 4px 5px rgba(190, 224, 223, 0.7); 
  min-height: 8vh;
}

.project-logo {
 height: 4rem;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.link{
  text-decoration: none;
  letter-spacing: 3px;
  color: aliceblue;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bolder;
  box-shadow: 5px 5px 5px rgba(254, 173, 166, 0.7);
  transition: all 0.5s ease-in-out;
}

.link:focus{
  transform: translate(7%, 7%); 
  box-shadow: 1px 1px 5px rgba(254, 173, 166, 0.8);
  outline: none;
}

.burger-menu{
  display: none;
  cursor: pointer;
}

.burger-menu div{
  width: 33px;
  height: 3px;
  background-color: cornsilk;
  margin: 5px;
  transition: all 0.7s ease-in-out;

}

.line-one-clicked{
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line-two-clicked{
  opacity: 0;
}

.line-three-clicked{
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width:768px){
  html,body{
    overflow-x: hidden;
    position: relative;
  }
  
  .nav-links{
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    top: 9vh;
    right: 0px;
    height: 100%;
    min-width: 100%;
    background: linear-gradient(90deg, rgba(8, 8, 8, 0.9), rgba(128, 208, 199, 0.6)); 
    transform: translateX(100%);
    transition: all 0.7s ease-in;
    z-index: 2;

  }
  
  .burger-menu{
    display: block;
  }
  
  .nav-active{
    transform: translateX(0%);

  }  
  
  .link{
    color: linear;
    font-size: 2rem;
    margin: 30px;
    box-shadow: 5px 5px 5px rgba(254, 173, 166, 0.7);
    transition: all 0.5s ease-in-out;
  }

}

@media screen and (max-width:1024px){
  .nav-links{
    width: 50%;
  }
}

