.navbar-container{
  font-family: Oribitron;
  position: fixed;
  z-index: 2;
  transition: all 1s ease-in-out;
  font-style: italic;
}

.navbar-container-background{
  background: linear-gradient(45deg, rgb(135, 167, 146, 0.8), rgba(85, 117, 47, 0.4), rgba(164, 216, 223,0.5));
  animation: navbar-animate 1s linear;
}

@keyframes navbar-animate{
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0%)
  }
}

.nav-links{
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(45deg, rgba(150, 133, 197, 0.5),  rgba(94, 67, 67, 0.5), rgb(65, 109, 105, 0.5)); 
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav-active{
  transform: translateY(0%);
}  

.home-heading-collapse{
  display: none;
}

.home-heading-nav{
  font-size: 2.5rem;
  text-shadow: 1px 1.4px 3px #ff8533;

}

.project-logo {
 margin: 0 0 0 30px;
 height: 8rem;
 transition: all 1s ease-in-out;
}

.project-logo-resize{
  height: 5rem;
  margin-top: -15px;
}

@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

.link{
  letter-spacing: 4px;
  color: white;
  font-size: 1.6rem;
  font-weight: bolder;
  margin: 30px;
  box-shadow: 5px 5px 5px rgba(107, 9, 53, 0.7);
  transition: all linear;
}

.link:hover{
  text-decoration: none;
  color: white;
}

.link:focus, .link:active{
  transform: translate(7%, 7%); 
  box-shadow: 1px 1px 5px rgba(107, 9, 53, 0.8);
  outline: none;
}

.logo-container{
  margin-top: 20px;
  z-index: 2;
}

.burger-menu{
  margin: 30px;
  cursor: pointer;
  z-index: 2;
}

.burger-menu div{
  height: 3px;
  margin: 5px;
  transition: all 1s ease-in-out;
}

.line-one, .line-two, .line-three{
  background: black;
}

.line-one {
  width: 10px
}

.line-two {
  width: 20px
}

.line-three {
  width: 30px
}

.line-one-clicked{
  width: 30px;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line-two-clicked{
  width: 0;
  opacity: 0;
}

.line-three-clicked{
  width: 30px;
  transform: rotate(45deg) translate(-5px, -6px);
}

.line-one-clicked, .line-three-clicked{
  background:rgb(214, 2, 2);
}

.login-button{
  font-size: 1.2rem;
  letter-spacing: 2px;
  position: absolute;
  top: 30px;
  right: 10%;
  text-shadow: 0.4px 0.5px 1px #ff8533;
  transition: all 0.4s ease-in-out;
}

.login-link{
  transition: all 0.4s ease-in-out;
  color: black;
}

.login-link:hover{
  text-decoration: none;
  color: green;
}

.login-button:hover{
  transform: scale(1.2);
}

@media screen and (max-width : 600px){
  .home-heading-nav{
    font-size: 1.3rem;
    margin-top: 10%;
  }

  .project-logo{
    height: 5rem;
  }

  .login-button{
    right: 25%;
    margin: 5px;
  }
}
