.signup-form{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic !important;
  border: none;
}

.text-field-signup{
  width: 80%;
  display: inline-flex;
}

.signup-submit{
  margin-top: 20px;
}

.signup-icons{
  display: flex;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.signup-icons img{
  transition: transform 0.4s ease-in-out;
}
.signup-icons img:hover{
  transform: scale(1.2);
}

@media screen and (max-width: 480px){
  .text-field-signup{
    width: 100%;
  }
}