.signup-form{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-style: italic !important;
  border: none;
}

.text-field-signup{
  width: 70%;
  display: inline-flex;
}

.signup-submit{
  margin-top: 20px;
}

@media screen and (max-width: 480px){
  .text-field-signup{
    width: 100%;
  }
}